body {
    .bigPhoto-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .bigPhoto {
            max-height: 100vh;
            width: 1000px;

            img {
                max-height: 80vh;
                margin-left: 50%;
transform: translateX(-50%);
            }
        }

        .arrow {
            width: 50px;
            height: 50px;
        }
    }

    .miniPhoto-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
            width: 30px;
            height: 30px;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
            max-width: 539px;
            width: 80%;
            overflow:hidden;
            div {
              display: flex;
              justify-content: flex-start;
                li {
                    min-width: 75px;
                    height: 75px;
                    background-position: center;
                    background-size: cover;
                    margin: 1px;
                }
            }
        }
    }
}
